@model Login.Models.Yearmonth
@{ ViewBag.Title = "انتخاب ماه و سال";
                Layout = "~/Views/Shared/_my1.cshtml";
 }
<center>
    <h2>انتخاب ماه و سال</h2>
</center>
<div class="w3ls-login box box--big">
    <form action="submit" method="post">
        <div class="agile-field-txt">
            @if (ViewBag.monthlist != null)
            {
        @Html.DropDownListFor(model => model.selyearId, ViewBag.yearlist as SelectList, "--انتخاب سال", new { @class = "form-control" })}
            @if (ViewBag.monthlist != null)
            {
        @Html.DropDownListFor(model => model.selmonthId, ViewBag.monthlist as SelectList, "--انتخاب ماه", new { @class = "form-control" })}
        </div>
        <input type="submit" value="انتخاب">
    </form>
</div>

